body{
  background-color: #fff;
}

div{
/*  outline: 1px solid;*/
}

h1{
  color:#404040;
  font-family: Georgia, "Times New Roman", serif; 
}

h2{
  color:#6C6C6C;
  text-decoration:underline;
  font-family: Georgia, "Times New Roman", serif; 
}

p{
  font-family: Georgia, 'Times New Roman', serif;
  color: #252525;
  font-size: 16px;
  line-height: 24px;
}

a, a:visited{
  color: #252525;
  font-size: 16px;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

ul{
  padding-left: 15px;
}


code{
  background-color: #303030;
  font-size: 13px;
  color: #ffdead;
  padding: 3px 6px;
}

.menu{
  /*outline: 1px solid;*/
  margin-top: 0px;
  padding: 2px 4px 2px 20px;
  background-color: #ccc;
  border-bottom: 1px solid #aaa;
}

#header h1, #header p{
  margin-left: 355px;
}

#side-menu{
  /*position: fixed;*/
  /*outline: 1px solid;*/
  margin-right: 35px;
  border: 1px solid #aaa;
  border-radius: 5px;
  background-color: #eee;
}

#side-menu ul{

  list-style-type: none;
}