body{
  /*background-color: red;*/
}

h1{
  color:#6C6C6C;
  font-family: Georgia, "Times New Roman", serif; 
}

h2{
  color:#6C6C6C;
  font-family: Georgia, "Times New Roman", serif; 
}

p{
  font-family: Georgia, 'Times New Roman', serif;
  color: #252525;
  font-size: 16px;
  line-height: 24px;
}

a, a:visited{
  color: #252525;
  font-size: 16px;

  text-decoration: none;
}

code{
  background-color: #303030;
  font-size: 13px;
  color: #ffdead;
  padding: 3px 6px;
}

.side-menu{
  /*outline: 1px solid;*/
  border: 1px solid #aaa;
  border-radius: 5px;
  background-color: #eee;
}

.side-menu ul{
  list-style-type: none;
}